<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>swiatek - posty</title>
    <meta name="description" content="Frameworki, S. Świątek 72369">
    <meta name="author" content="Szymon Świątek 72369">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Lista postów</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <small>Dodano: {{ post.created_at }}</small>
        <hr>
    {% empty %}
        <p>Brak postów.</p>
    {% endfor %}
</body>
</html>
